# Importando Pandas

In [14]:
import pandas as pd

# Creando datos


### DataFrame

In [3]:
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

In [5]:
pd.DataFrame({'Rocío': ['Soy Peruana', 'Vivo en USA.'], 'Clara': ['Soy venezolana', 'Vivo en UK.']})

          Rocío           Clara
0   Soy Peruana  Soy venezolana
1  Vivo en USA.     Vivo en UK.

`pd.DataFrame()` para construir un DataFrame a partir de un diccionario, en donde las keys son el nombre de las columnas (`Rocío` y `Clara` en este ejemplo), y cuyos valores son una lista de entradas.
Los indices van en orden ascendente a partir de 0, pero esto se puede cambiar usando **Index** en el constructor.

In [15]:
pd.DataFrame({'Rocío': ['Soy Peruana', 'Vivo en USA.'], 'Clara': ['Soy venezolana', 'Vivo en UK.']},
             index=['Paìs de origen', 'Lugar de residencia'])

                            Rocío           Clara
Paìs de origen        Soy Peruana  Soy venezolana
Lugar de residencia  Vivo en USA.     Vivo en UK.

### Series

Si el DataFrame es una tabla, una Serie es una lista y se puede crear así!

In [9]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

Una serie es en esencia una columna simple de un DataFrame, así que se pueden asignar índices, sin embargo la Serie no tiene un nombre de columna sino un nombre general "Name":

In [11]:
pd.Series([0, 40, 400], index=['2015 ', '2016', '2021'], name='Numero de miembros')

2015       0
2016      40
2021     400
Name: Numero de miembros, dtype: int64

# Lectura de archivos de datos

Vamos ahora a trabajar con datos que tenemos en un archivo .csv "Comma-Separated Values"

usando la función `pd.read_csv()`:

In [19]:
from pathlib import Path # Definimos el path a la carpeta de datos
data_folder = Path("..") / "data"
wine_reviews_file = data_folder /"winemag-data-130k-v2.csv"

In [20]:
wine_reviews = pd.read_csv(wine_reviews_file)

Usamos el atributo `shape` para saber que tan grande es el DataFrame:

In [25]:
wine_reviews.shape

(129971, 13)

In [26]:
129971*13  #Son 1,689,623 datos!!!

1689623

In [22]:
wine_reviews.head() # Así podemos ver los primeros 5 renglones

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

La función `pd.read_csv()` tiene alrededor de 30 parámetros opcionales que se pueden especificar. Vemos por ejemplo que pandas creo un índice nuevo, cuando ya el archivo csv tenía su propio índice, así que usando `index_col` podemos pedir que use el índice ya existente.

In [24]:
wine_reviews = pd.read_csv(wine_reviews_file, index_col=0)
wine_reviews.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [28]:
fundadoras=pd.DataFrame({'Clara':['Geofísica','Petronas'],'Rocío':['Paleoclimatóloga','Everywhere :)'],'Adriana':['Geofísica','Leeds']})
fundadoras.to_csv('fundadoras_geolatinas')

# Tu turno!